html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 12px 41px;
  border: 1px solid #151618;
  background: #fff;
  gap: 10px;
  font-size: 20px;
  font-weight: 300;
}

h2 {
  margin-bottom: 60px;
  text-align: center;
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}

section {
  margin-bottom: 150px;
}

ul {
  list-style: none;
}

body {
  color: #151618;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  min-height: 140px;
  align-items: center;
  padding: 30px 0;
}

.logo {
  margin-bottom: 35px;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
}

.menu__btn span {
  background-color: #000;
  height: 2px;
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-style: 18px;
  margin-left: 85px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item--search {
  margin-left: 80px;
}

.top {
  background-image: url(images/backgrounds/hero.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.top__inner {
  min-height: 500px;
  color: #fff;
  font-family: Cormorant, sefif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 400;
}

.top__title {
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 780px;
  line-height: 1;
  font-weight: 400;
}

.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px;
  line-height: normal;
}

.blockquote__text {
  text-align: center;
  font-family: Cormorant;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  max-width: 704px;
  margin: 150px auto;
}

.collections__inner {
  display: flex;
  justify-content: space-between;
}

.collections__item {
  text-align: center;
  max-width: 208px;
  font-family: Cormorant, serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.collections__image {
  margin-bottom: 10px;
}

.reviews {
  background-color: #f7f2ea;
  padding-bottom: 60px;
}

.reviews__title {
  padding-top: 60px;
}

.reviews__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

.reviews__item {
  max-width: 280px;
}

.reviews__text {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.reviews__author {
  font-size: 20px;
  font-weight: 600;
}

.blog__container {
  display: flex;
  flex-direction: column;
}

.blog__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}

.blog__item {
  display: grid;
  grid-template-columns: 270px 1fr;
  gap: 20px;
  align-items: start;
}

.blog__item-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.blog__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blog__item-title {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.blog__author {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.blog__button {
  margin-top: auto;
  font-size: 13px;
  font-weight: 300;
  height: 18px;
  align-items: center;
}

.blog__button::after {
  content: url(images/icons/arrow-right.svg);
  height: 10px;
  margin-left: 8px;
}

.blog__view-all {
  margin: 60px auto 0 auto;
}

.subscribe {
  background-color: #f7f2ea;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subscribe__title {
  margin-bottom: 50px;
  text-align: left;
}

.subscribe__inner {
  display: flex;
  gap: 40px;
}

.subscribe__fields {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.subscribe__input {
  height: 30px;
  width: 100%;
  margin-right: 25px;
  align-self: flex-end;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #b8b58b;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
}

.subscribe__input::placeholder {
  color: #b8b58b;
  padding: 15px;
}

.subscribe__terms {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  font-size: 13px;
  font-weight: 300;
}

.subscribe__checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
}

.priorities__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 49px;
}

.priorities__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 248px;
}

.priorities__name {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.priorities__text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.priorities__image {
  max-width: 60px;
  max-height: 60px;
}

.footer {
  background-color: #f7f2ea;
  padding-top: 100px;
  padding-bottom: 20px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 97px 155px 269px 270px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.products__title {
  font-family: Cormorant;
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: 400;
  line-height: normal;
}

.products__item {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

.quote {
  max-width: 269px;
}

.quote__text {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.quote__author {
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  max-width: 129px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.contacts__text {
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.contacts__inner {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.contacts__logo {
  max-width: 57px;
  max-height: 91px;
}

.contacts__message {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.contacts__message-item {
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.contacts__list {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.contacts__image {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
}

.footer__line {
  display: flex;
  gap: 192px;
}

.copyright {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  max-width: 118px;
}

.banks {
  display: flex;
  gap: 20px;
}

.banks__item {
  width: 26px;
  height: 20px;
  display: flex;
  align-items: center;
}

.banks__image {
  display: flex;
  align-content: center;
}
